<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<!--level 2 Laporan Nofas-->
	<menuitem id="djbc_kite_php" name="Pemasukan Hasil Produksi" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_php_wizard_action" sequence="90"/>

	<menuitem id="djbc_kite_pw" name="Penyelesaian Waste" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_pw_wizard_action" sequence="89"/>

	<menuitem id="djbc_kite_pbb" name="Pemasukan Bahan Baku" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_pbb_wizard_action" sequence="91"/>

	<menuitem id="djbc_kite_pembb" name="Pemakaian Bahan Baku" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_pembb_wizard_action" sequence="92"/>

	<menuitem id="djbc_kite_pemws" name="Pemakaian WIP Subkontrak" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_pemws_wizard_action" sequence="93"/>

	<menuitem id="djbc_kite_penghp" name="Pengeluaran Hasil Produksi" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_penghp_wizard_action" sequence="94"/>
	<menuitem id="djbc_kite_mbb" name="Mutasi Bahan Baku" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_mbb_wizard_action" sequence="95"/>

	<menuitem id="djbc_kite_mhp" name="Mutasi Hasil Produksi" parent="djbc.djbc_laporan" groups="djbc.group_djbc_user"
			  action="kite_mhp_wizard_action" sequence="96"/>
	
	

</odoo>
